body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.image-viewer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin: 10px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
